echo "*.zip" >> .gitignore
echo "*.tar.gz" >> .gitignore
echo "*.rar" >> .gitignore
echo "*.7z" >> .gitignore
echo "*.pt" >> .gitignore
echo "*.pth" >> .gitignore
echo "*.onnx" >> .gitignore
echo "dataset/" >> .gitignore
echo "*.txt" >> .gitignore